Meta
doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
eegble_func.old
eegble_func.old.R
read.old
test_del.R
inst/doc/
temp_exp/
tests/testthat/other_tests.R
# produced vignettes
vignettes/*.html
vignettes/*.pdf
#data used in the vignettes
vignettes/*.vhdr
vignettes/*.vmrk
vignettes/*.dat
# Workspace files are user-specific
*.sublime-workspace
*.sublime-project
/*.vhdr
/*.dat
/*.vmrk
inst/doc
